<ng-container *ngIf="timer">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a routerLink="/" class="btn btn-secondary">
        <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="1.5 1.5 17 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M13.354 3.646a.5.5 0 010 .708L7.707 10l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
        </svg>
        Back
      </a>
      <span class="navbar-brand mb-0 h1">Edit timer</span>
    </div>
  </nav>
  <div class="container">
    <app-form [timer]="timer" submitLabel="Save the timer" (submitTimer)="onSubmit($event)"></app-form>
  </div>
</ng-container>
